<a href="https://colab.research.google.com/github/hackablock/Basic-Data-Science/blob/main/Basic_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np

pre_path = "https://raw.githubusercontent.com/huak95/basic_data_science/main/data/"

df = pd.read_csv(
pre_path + 'Meteorite_Landings.csv'
)

In [4]:
df.head(2)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"

In [5]:
df.tail(2)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [3]:
print(df.shape)

(45716, 10)

In [6]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [7]:
df.columns.to_list()

['name',
 'id',
 'nametype',
 'recclass',
 'mass (g)',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation']

In [8]:
pd.Series([0, 1, pd.NA])

0       0
1       1
2    <NA>
dtype: object

In [10]:
np.NaN

nan

In [11]:
df.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [13]:
df.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [14]:
df.head(2)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"

In [15]:
df['name']

0            Aachen
1            Aarhus
2              Abee
3          Acapulco
4           Achiras
            ...
45711    Zillah 002
45712        Zinder
45713          Zlin
45714     Zubkovsky
45715    Zulu Queen
Name: name, Length: 45716, dtype: object

In [16]:
df.name

0            Aachen
1            Aarhus
2              Abee
3          Acapulco
4           Achiras
            ...
45711    Zillah 002
45712        Zinder
45713          Zlin
45714     Zubkovsky
45715    Zulu Queen
Name: name, Length: 45716, dtype: object

In [17]:
df['mass (g)']

0            21.0
1           720.0
2        107000.0
3          1914.0
4           780.0
           ...
45711       172.0
45712        46.0
45713         3.3
45714      2167.0
45715       200.0
Name: mass (g), Length: 45716, dtype: float64

In [18]:
df.name

0            Aachen
1            Aarhus
2              Abee
3          Acapulco
4           Achiras
            ...
45711    Zillah 002
45712        Zinder
45713          Zlin
45714     Zubkovsky
45715    Zulu Queen
Name: name, Length: 45716, dtype: object

In [19]:
df.name.map(len)

0         6
1         6
2         4
3         8
4         7
         ..
45711    10
45712     6
45713     4
45714     9
45715    10
Name: name, Length: 45716, dtype: int64

In [21]:
df.recclass.map(lambda x: x.split(', '))

0                          [L5]
1                          [H6]
2                         [EH4]
3                 [Acapulcoite]
4                          [L6]
                  ...
45711                 [Eucrite]
45712    [Pallasite, ungrouped]
45713                      [H4]
45714                      [L6]
45715                    [L3.7]
Name: recclass, Length: 45716, dtype: object

In [22]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [27]:
def foo(row):
  return row['name'] + "_" + str(row["id"]) + "_mass_=_" + str(row['mass (g)'])

df.apply(foo, axis=1)

0                 Aachen_1_mass_=_21.0
1                Aarhus_2_mass_=_720.0
2               Abee_6_mass_=_107000.0
3            Acapulco_10_mass_=_1914.0
4             Achiras_370_mass_=_780.0
                     ...
45711    Zillah 002_31356_mass_=_172.0
45712         Zinder_30409_mass_=_46.0
45713            Zlin_30410_mass_=_3.3
45714    Zubkovsky_31357_mass_=_2167.0
45715    Zulu Queen_30414_mass_=_200.0
Length: 45716, dtype: object

In [29]:
df[34:39]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
34,Andover,2295,Valid,L6,3200.0,Fell,01/01/1898 12:00:00 AM,44.61667,-70.75000,"(44.61667, -70.75)"
35,Andreevka,2296,Valid,L3,600.0,Fell,01/01/1969 12:00:00 AM,48.70000,37.50000,"(48.7, 37.5)"
36,Andura,2298,Valid,H6,17900.0,Fell,01/01/1939 12:00:00 AM,20.88333,76.86667,"(20.88333, 76.86667)"
37,Northwest Africa 5815,50693,Valid,L5,256.8,Found,NaN,0.00000,0.00000,"(0.0, 0.0)"
38,Angers,2301,Valid,L6,NaN,Fell,01/01/1822 12:00:00 AM,47.46667,-0.55000,"(47.46667, -0.55)"

In [30]:
df.loc[34:39, ['name', 'year']]

                      name                    year
34                 Andover  01/01/1898 12:00:00 AM
35               Andreevka  01/01/1969 12:00:00 AM
36                  Andura  01/01/1939 12:00:00 AM
37   Northwest Africa 5815                     NaN
38                  Angers  01/01/1822 12:00:00 AM
39  Angra dos Reis (stone)  01/01/1869 12:00:00 AM

In [33]:
df.iloc[[34,28,40], [0, 3]]

       name recclass
34  Andover       L6
28  Allegan       H5
40  Ankober       H4

In [36]:
df.loc[df['id']%2 == 0, 'mass (g)'] = 1000

In [37]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,1000.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,1000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1000.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,1000.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,1000.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,1000.0,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,1000.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [39]:
df = pd.read_csv (
    pre_path + "2007_flights.csv"
)

In [40]:
df

,year,month,day_of_month,day_of_week,departure_time,arrival_time,carrier,flight_number,total_flight_time,origin_airport,dest_airport,distance,delay
0,2007,11,30,5,1300,1330,MQ,3705,79,DFW,ROW,435,122
1,2007,1,21,7,1815,2023,US,1724,146,TPA,DCA,814,106
2,2007,12,24,1,1955,2101,OH,5228,66,CVG,GRR,268,0
3,2007,6,26,2,630,1059,CO,1715,137,TUS,IAH,936,-5
4,2007,11,18,7,1409,1540,OO,6673,143,RFD,DEN,829,-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2007,8,14,2,1827,2013,OH,5497,118,BWI,CVG,430,12
11996,2007,2,3,6,1000,1350,AA,253,352,LAX,OGG,2486,1
11997,2007,3,23,5,2050,2149,CO,1428,170,IAH,PHX,1009,8
11998,2007,4,3,2,2240,2318,OO,6364,36,SFO,SMF,86,-11
11999,2007,5,4,5,2120,2220,WN,687,60,BWI,ISP,220,28

In [41]:
df[df['delay'] < 10]

,year,month,day_of_month,day_of_week,departure_time,arrival_time,carrier,flight_number,total_flight_time,origin_airport,dest_airport,distance,delay
2,2007,12,24,1,1955,2101,OH,5228,66,CVG,GRR,268,0
3,2007,6,26,2,630,1059,CO,1715,137,TUS,IAH,936,-5
4,2007,11,18,7,1409,1540,OO,6673,143,RFD,DEN,829,-16
6,2007,8,24,5,1805,2105,B6,18,196,FLL,JFK,1069,7
8,2007,11,17,6,710,915,WN,496,70,SAN,PHX,304,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11992,2007,5,21,1,1830,2150,MQ,3799,130,DFW,FWA,859,-14
11994,2007,7,23,1,1450,1555,WN,30,70,DAL,AMA,324,5
11996,2007,2,3,6,1000,1350,AA,253,352,LAX,OGG,2486,1
11997,2007,3,23,5,2050,2149,CO,1428,170,IAH,PHX,1009,8
11998,2007,4,3,2,2240,2318,OO,6364,36,SFO,SMF,86,-11